* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
}

#header {
	background-color: #336699;
	color: white;
	font-size: 30px;
}

#content {
	padding: 40px;
	height: 100%;
}

#container {
	min-height: 100%;
	position: relative;
}

#header a {
	color: white;
	font-size: 20px;
	float: right;
}

#header td {
	padding: 5px;
	valign: "top";
}

#footer {
	background-color: #336699;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25px;
}

.actionButton {
	padding: 2px;
}

.panel {
	width: 350px;
	height: 100%;
	float: left;
}

.user-row a {
	text-decoration: none;
	border-bottom: 1px dotted #000;
}

.user-row a:hover {
	border-bottom: 1px dotted red;
}

.user-row {
	width: 200px;
}

.create-user {
	margin-right: 20px;
	border: none;
	background: none;
	cursor: pointer;
	color: rgb(0, 150, 245);
	float: right;
	text-decoration: none;
	border-bottom: 1px dotted rgb(0, 150, 245);
}

.create-user:hover {
	border-bottom: 1px dotted red;
}

.centered {
	text-align: center
}

.old {
	background-color: #6CE26C !important;
	background-image: none !important;
	color: black !important;
}